[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["flask", "swagger-ui", "uvicorn"]}
flask = {extras = ["async"], version = ">=3.0.0"}
uvloop = {version = "*", sys_platform = "!= 'win32'"}
pytest = '*'
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.10"
